
#background{
    z-index: -1;
    min-height: 80dvh;
    height: max-content;
    width: 100vw;
    background: linear-gradient(177.41deg, rgba(61, 58, 163, 0) -47.7%, #3D3AA3 80.54%),url('../../assets/pngs/dev-team 1.png') no-repeat ;
    background-size: auto,cover;
}
div{
    height: 30vh;
}
*{
    color: white;
}
#texts{
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 63px;
    padding: 10vh;
    #welcome{
        max-width: 100%;
        text-align: center;
        width: 612px;
        color: #FFF;
        font-family: "Roboto";
        font-size: 47px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    p{
        max-width: 90%;
        font-family: 'Inter';
        font-style: normal;
        line-height: 40px;
        font-size: 25px;
        text-align: center;}
    button{
        background-color: transparent;
        padding: 10px 70px 13px 70px;
        border: 1px solid #FFFFFF;
        border-radius: 29px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
    }
    button:hover,button:active,button:focus{
        background-color: white;
        color: #3D3AA3;
    }
    
}

@media only screen and (max-width: 570px) {
    #texts{
        #welcome{
            font-size: 30px;
            font-weight: 300;
            height: max-content;
        }
        button{
            white-space: nowrap;
        }
        p{
          
            font-size: larger;
            max-width: fit-content;
           
        }
    }
}

