<div id="background">
    <br><br><br><br><br>
    <div id="texts">
        <h3 id="welcome">Welcome to the APP BYTER</h3>
        <p>Welcome to Appbyter, where a dedicated team of technology enthusiasts—developers, a product manager, a
            tester, and a UI/UX designer—collaborate to forge the future of mobile experiences. While our heart lies in
            mobile app development, our expertise extends to crafting dynamic and responsive websites. Our small yet
            agile team of 5-10 members is committed to delivering digital solutions that not only embody your vision but
            also drive user engagement and business growth. At the core, we strive to be the architects of your digital
            success, be it through an app that connects or a website that converts.
        </p>
    </div>
</div>